<h2><%= @team["name"] %></h2>
<p><%= "Team Motto: "@team["motto"] %></p>
<% @members.each do |member| %>
  <h3><%= member["name"] %></h3>
  <p><%= "Hero Power: "member["power"] %></p>
  <p><%= "Hero Bio: "member["bio"] %></p>
<% end %>
